.item-designer {
    
    &:hover {
        .item-designer__img img {
            transform: scale(1.05, 1.05);
        }
    }
    &:nth-child(2) {
        margin-top: 180px;
    }
    &__header {
        position: relative;
        margin-bottom: 30px;
    }
    &__title {
        display: inline-block;
        margin-bottom: 20px;
    }
    .page-labels {   
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 2;
        span {
           padding: 10px 33px; 
        }
    }
    &__img {
        display: block;
        padding-top: 100.6%;
        img {
            transition: .8s cubic-bezier(.25,.46,.45,.94);
        }
    }
    p {   
        line-height: 1;    
        max-width: 65.7%;
        color: rgba(45, 42, 38, 0.6);
        letter-spacing: -0.04em;
        margin: 0 0 30px;
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .btn {  
        flex: 0 0 calc(50% - 10px); 
        height: 55px;
        justify-content: center;
    }
    @media screen and (max-width: 1859px) {
        &__title {
            margin-bottom: 15px;
        }
        &__header {
            margin-bottom: 20px;
        }
        p {     
            margin: 0 0 20px;
        }
    }
    @media screen and (max-width: 1599px) {
        &__buttons {
            display: block;
        }  
        .btn {
            width: 100%;
            max-width: 305px;
            margin-bottom: 20px;
            &:last-child {
             margin-bottom: 0;
            }
         }
        .page-labels {
            bottom: 20px;
            left: 20px;
        }       
    }
    @media screen and (max-width: 991px) {
        &__buttons {
            display: flex;
        }       
        .btn {
            max-width: none;
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 767px) {
        &__buttons {
            display: block;
        }
        .page-labels {
            bottom: 10px;
            left: 10px;
        } 
        .btn {
            margin-bottom: 15px;
        } 
        p {
            font-size: 14px;
            max-width: none;
        }    
    }
}