.news {
	&__header {
        margin-bottom: 90px;
        .h3 {
            color: rgba(45, 42, 38, 0.4);
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
        }
        .h3.active {
            font-size: 76px;
            color: #2D2A26;
            @media screen and (max-width: 991px) {
                font-size: 56px;
            }
            @media screen and (max-width: 767px) {
                font-size: 40px;
            }
        }
	}
	&__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 20px;
        margin-bottom: 80px;
	}
    .tabs__item {
        flex: 0 0 200px;
    }
    @media screen and (max-width: 1599px) {
        &__header {
         margin-bottom: 80px;
        }
    }
    @media screen and (max-width: 1279px) {
        &__inner {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and (max-width: 991px) {
        &__inner {
            grid-template-columns: 1fr;
            margin-bottom: 60px;
        }
        .tabs__item {
            flex: 0 0 172px;
        }
        .h3 {
            margin-right: 40px;
        }
    }
    @media (min-width: 380px) and (max-width: 767px) {
        .h3 {
            margin-right: 60px;
        }
    }
    @media (max-width: 360px) {
        .h3:first-child {
            display: block;
            margin-bottom: 10px;
        }
    }
}
.item-news {
    &:hover {
        .item-news__header img {
            transform: scale(1.05);
        }
    }
    h5 {
        margin-bottom: 14px;
    }
    p {
        max-width: 365px;
        margin: 0;
        letter-spacing: -0.04em;
        line-height: 1;
        color: rgba(45, 42, 38, 0.6);
    }
    a {
        color: inherit;
    }
	&__header {
        position: relative;       
        margin-bottom: 20px;      
	}
    &__preview {
        padding-top: 100%;
        img {
            transition: .8s cubic-bezier(.25,.46,.45,.94);
        }
    }
	.page-labels {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
	}
	&__content {
        flex: 1 1 auto;
	}
	&__date {
        margin-bottom: 15px;
        letter-spacing: -0.04em;
        line-height: 1;
        span {
            margin: 0 6px;
            color: rgba(45, 42, 38, 0.2);
        }
	}
    @media screen and (max-width: 1599px) {
        .page-labels {
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }
    @media screen and (max-width: 767px) {
        h5 {
            font-size: 24px;
        }
    }
}
