.shops {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        @media (max-width: 1279px) {
            display: block;
        }
    }
    .tabs {
        margin-bottom: 0;
        padding-bottom: 0;
        flex-wrap: nowrap;
        @media (max-width: 1279px) {
            margin-bottom: 30px;
        }
    }
    .tabs__item {
        @media (max-width: 767px) {
            font-size: 14px;
            flex: 0 0 50%;
        }
    }
    &__body {
        position: relative;
    }
    &__btns {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
        display: flex;
        @media (max-width: 1599px) {
            top: 20px;
            left: 20px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            top: 10px;
            left: 10px;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        min-height: 24px;
        padding-left: 30px;
        position: relative;
        font-weight: 500;
        letter-spacing: -0.04em;
        color: rgba(45, 42, 38, 0.8);
        margin-right: 26px;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 24px;
            height: 24px;
            border: 1px solid #2d2a26;
            background-color: #fff;
            border-radius: 50%;
        }
        &:after {
            display: none;
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            width: 12px;
            height: 12px;
            background-color: #2d2a26;
            border-radius: 50%;
        }
        &.active {
            &:after {
                display: block;
            }
        }
        @media (max-width: 767px) {
            margin-bottom: 10px;
            font-size: 14px;
            min-height: 20px;
            padding-left: 26px;
            &:before {
                width: 20px;
                height: 20px;
                top: 0;
            }
            &::after {
                width: 10px;
                height: 10px;
                top: 5px;
                left: 5px;
            }
        }
    }
    &__wrapper {
        height: 787px;
        @media (max-width: 1859px) {
            height: 650px;
        }
    }
    &__block {
        display: none;
        &.active {
            display: block;
        }
    }
}
.search-shops,
.stock-form {
    position: relative;
    .form-group {
        margin-bottom: 0;
        input {
            padding-right: 30px;
            border-bottom: 0;
            @media (max-width: 359px) {
                &::placeholder {
                    font-size: 12px;
                }
            }
        }
    }
    &__btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: 0;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
            fill: none;
            stroke: #2d2a26;
        }
    }
}
.search-shops {
    width: 600px;
    .form-group {
        border-bottom: 1px solid rgba(45, 42, 38, 0.4);
    }
    [class*="search__suggest"] {
        top: 1px;
        left: 0;
        right: 0;
        border: 0;
        box-shadow: none !important;
    }
    [class*="search__suggest-item"] {
        font: 16px/110% "Inter",sans-serif;
        letter-spacing: -0.04em;
        color: rgba(45, 42, 38, 0.6);
        padding: 12px 4px;
    }
    [class*="search__suggest-highlight"] {
        color: #2D2A26
    }
    [class*="search__suggest-item_selected_yes"] {
        background: #fff;
    }
    @media (max-width: 1859px) {
        width: 493px;
    }
    @media (max-width: 1599px) {
        width: 468px;
        .form-group {
            input, input::placeholder {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 1279px) {
        width: 100%;
        [class*="search__suggest-item"] {
            font: 14px/110% "Inter",sans-serif;
        }
    }
    @media (max-width: 767px) {
        .form-group {
            input, input::placeholder {
                font-size: 14px;
            }
        }
    }
}
.map {
    width: 100%;
    height: 100%;
    [class*="balloon__tail"] {
        display: none;
    }
    [class*="balloon__close"] {
        display: none;
    }
    [class*="balloon__content"] {
        background: rgba(255, 255, 255, 0.03);
        backdrop-filter: blur(124px);
    }
}
.balloon {
    @media (max-width: 479px) {
        width: 165px;
        word-break: break-word;
    }
}
.balloon__header {
    padding-bottom: 15px;
}
.balloon__address {
    padding-right: 0;
}
.balloon__contacts p {
    @media (max-width: 479px) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.balloon__name {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: rgba(45, 42, 38, 0.8);
    @media (max-width: 991px) {
        font-size: 18px;
    }
    @media (max-width: 479px) {
        font-size: 16px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.balloon__lbl {
    margin-top: 4px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #E77827;
    @media (max-width: 991px) {
        font-size: 15px;
    }
    @media (max-width: 479px) {
        font-size: 14px;
    }
}

.shops-list {
    height: 100%;
    padding: 94px 10px 72px 30px;
    background-color: #f3f3f3;
    &__container { 
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__wrapper {
        flex: 1 1 auto;
        overflow: hidden;
    }
    &__items {
        height: 100%;
        overflow-y: auto;
        padding-right: 110px;
        scrollbar-width: thin;
        scrollbar-color: transparent #d0cfcf;  
    }
    h4 {
        padding-bottom: 40px;
    }
    .shops-list__items::-webkit-scrollbar-thumb {
        background-color: #d0cfcf;;
        border-radius: 41px;
        background-clip: padding-box;  
    } 
    .shops-list__items::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    } 
    @media (max-width: 1859px) {
        &__items {
            padding-right: 89px;
        }
    }
    @media (max-width: 1599px) {
        padding: 84px 10px 58px 20px;
        h4 {
            font-size: 32px;
        }
        &__items {
            padding-right: 68px;
        }
    }
    @media (max-width: 1279px) {
        padding: 84px 10px 58px 20px;
        h4 {
            font-size: 24px;
        }
        &__items {
            padding-right: 27px;
        }
    }
    @media (max-width: 767px) {
        padding: 84px 8px 38px 10px;
        h4 {
            padding-bottom: 20px;
        }
        &__items {
            padding-right: 9px;
        }
    }
}
.item-shop {
    padding: 19px 30px;
    display: grid;
    grid-template-columns: auto 500px 232px 187px;
    gap:160px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(45, 42, 38, 0.2);
    border-radius: 10px;
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }
    p, a {
        line-height: 1;
        letter-spacing: -0.04em;
        color: rgba(45, 42, 38, 0.8);
    }
    &__name {
        font-weight: 500;
        font-size: 22px;
        margin: 0;
        span {
            font-size: 18px;
            color: #E77827;
            font-weight: 400;
        }
    }
    &__address {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }
    &__worktime {
        font-size: 18px;
        p {
            margin: 0 0 5px;
            &:last-child {
                margin: 0;
            }
        }
        span {
            &:nth-child(1) {
                font-size: 16px;
                color: rgba(45, 42, 38, 0.4);
                margin-right: 10px
            }
        }
        a {
            color: inherit;
        }
    }
    &__link {
        font-size: 18px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -1px;
            width: 100%;
            height: 1px;
            background: rgba(45,42,38,.8);
        }
        &:hover {
            &:after {
                animation: 1s linear border-link;
            }        
        }
    }
    @media (max-width: 1859px) {
        grid-template-columns: auto 422px 207px 165px;
        gap: 110px;
        &__name {
            font-size: 20px;
            span {
                font-size: 16px;
            }
        }
        &__address {
            font-size: 16px;
        }
        &__worktime {
            font-size: 16px;
            span {
                &:nth-child(1) {
                    font-size: 14px;
                }
            }
        }
        &__link {
            font-size: 16px;
        }
    }
    @media (max-width: 1599px) {
        padding: 19px;
        grid-template-columns: auto 365px 207px 145px;
        gap: 57px;
        &__name {
            font-size: 16px;
            span {
                font-size: 14px;
            }
        }
        &__address {
            font-size: 14px;
        }
        &__link {
            font-size: 14px;
        }
    }
    @media (max-width: 1279px) {
        grid-template-columns: auto 290px;
        align-items: start;
        gap: 20px;
        &__link {
            justify-self: end;
            align-self: end;
        }
    }
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 15px;
        &__link {
            justify-self: start;
        }
    }
}