@import "general";
@import "promo";
@import "projects";
@import "order-project-form";
@import "designers";
@import "article";
@import "promo-page";
@import "project";
@import "designer-info";
@import "404";
@import "store";
@import "about";
@import "news";
@import "join-us";
@import "reviews";
@import "order";
@import "cart";
@import "stock";
@import "shops";

.fancybox-thumbs__list a::before {
    border: 0;
    background-color: #fff;
    opacity: 0.4;
}
.fancybox-thumbs__list a.fancybox-thumbs-active::before {
    opacity: 0;
}
.s-result-title {
    margin-bottom: 20px;
}
.s-result-subtitle {
    margin-bottom: 60px;
    @media screen and (max-width: 991px){
        margin-bottom: 40px;
      }
    @media screen and (max-width: 767px){
      span {
        display: block;
      }
    }
}
.s-result-tabs {
    .tabs__item {
        flex: 0 0 280px;
        height: 61px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            white-space: normal;
        }
    }
    @media screen and (max-width: 1599px) {
        .tabs__item {
            flex: 0 0 240px;
        }
    }
    @media screen and (max-width: 991px){
        .tabs__item {
            flex: 0 0 220px;
        }
    }
    @media screen and (max-width: 767px){
        .tabs__item {
            flex: 0 0 180px;
        }
    }
}
.s-result-cards {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: flex-end;
    gap: 40px 20px;
    @media screen and (max-width: 1279px ) {
        grid-template-columns: repeat(3,1fr);
    }
    @media screen and (max-width: 767px ) {
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width: 575px ) {
        gap: 10px;
        align-items: center;
    }
}
.s-result-news, .s-result-colls, .s-result-projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px 20px;
    @media screen and (max-width: 1279px ) {
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width: 767px ) {
        grid-template-columns: repeat(1,1fr);
    }
}
.s-result-news {
    @media screen and (max-width: 991px ) {
        .page-labels {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
.s-result-colls {
    @media screen and (max-width: 767px ) {
        gap: 20px;
        .col-card__labels {
            left: 10px;
            bottom: 10px;
        }
        .col-card__info {
            font-size: 11px;
            border-radius: 14px;
            padding: 6px 20px;
        }
        .col-card__info img {
            width: 16px;
            height: 16px;
        }
    }
}
.s-result-projects {
    @media screen and (max-width: 767px ) {
        gap: 10px;
    }
}
.s-result-colls {
    .col-card__title {
        font-weight: 500;
        svg {
            stroke: #2d2a26;
            stroke-width: 0.5;
            margin-left: 10px;
        }
    }
}